{% extends "ask_kosh/base.html" %}
{% load static %}


{% block question %}

<style>

    .question{
        border: 1px solid black;
    }

    .userpic{
        width: 100%;
        padding: 20px;
    }

    .question_title{
        font-size:1.5em;
        font-style: bold;
    }

    .question_tags span{
        font-size: 1.2em;
    }

</style>

<h2>Question</h2>

<div class="question row">
    <div class="col-lg-12">
        <div class="col-lg-3">
            <div class="questioner_userpic">
                <img src="{{user.profile.userpic}}" class="userpic">
            </div>
        </div>
        <div class="col-lg-9">
            <div class="question_title">
                {{question.title}}
            </div>
            <div class="question_text">
                {{question.text}}
            </div>
            <div class="question_tags">
                <span>Tags:</span> {{question.tags}}
            </div>
        </div>
    </div>
</div>

<div class="answers_block row">
    <div class="col-lg-12">

    </div>

</div>


{% endblock %}